
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    max-height: 100vh;
    height: 100%;
    margin: 0;
    line-height: inherit;
    font-family: Ubuntu, ui-sans-serif, system-ui;
  }

  @keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(3);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(3);
    }
    100% {
      transform: scale(1);
    }
  }